<html>
  <head>
    <link rel="stylesheet" type="text/css" href="spinops.css" />
  </head>
  <body>
    <form method='post'>
      <div>Enter email address: </div>
      <div><input type=text name='email'></div>
      <div><input type=submit name='Submit'></div>
    </form>
  </body>
</html>
